<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="https://raw.githubusercontent.com/felix-am-rodriguez/api-simulada-json/refs/heads/master/imagenes/foto_perfil.jpeg" alt="Imágen de perfil" class="img-fluid rounded-circle mb-3">
            <p class="text-muted text-center">Desarrollador Full-Stack</p>
        </div>
        <div class="col-md-8">
            <h3>Sobre Mí</h3>
            <p>
                ¡Hola! Soy Félix A.M Rodríguez<br>
                Soy un desarrollador de software full-stack de México con más de tres años de experiencia trabajando con tecnologías como PHP, Laravel,
                JavaScript/TypeScript y Angular. Mi pasión por la programación comenzó a una edad temprana y me ha llevado a desarrollar proyectos desde aplicaciones 
                web hasta soluciones más complejas en el ámbito de IoT.
            </p>
            <p>
                Desde mi formación en Ingeniería de Software en la Universidad de Colima, he trabajado en diversos entornos que me han permitido perfeccionar
                mis habilidades y afrontar desafíos tecnológicos. Aunque mi carrera universitaria quedó inconclusa, he compensado esta falta con un certificado
                parcial que compruba mis estudios, un título de Técnico Analista Programador y un enfoque autodidacta que me ha permitido expandir mi conocimiento constantemente.
            </p>
            <p>
                Mi formación académica ha sido complementada con un diplomado en Tecnologías de Información para la Innovación y Desarrollo, donde exploré áreas
                como ciencia de datos, conceptos básicos de varios lenguajes de programación, y la creación de proyectos de IoT con NodeMCU.
                A lo largo de los años, también he realizado varios cursos autodidactas en Python, JavaScript, Linux y otros lenguajes y tecnologías que me han
                permitido mantenerme actualizado y mejorar continuamente mis habilidades.
            </p>
            <h3>Habilidades</h3>
            <ul>
                <li>Frontend: Angular, JavaScript, HTML, CSS</li>
                <li>Backend: Laravel, PHP, SpringBoot (Java), Django (python)</li>
                <li>Bases de datos: MySQL, PostgreSQL, MS SQL Server</li>
                <li>Otros: CodeIgniter, Qt Framework (C++), Python, Linux, Visual Basic .NET, C#</li>
            </ul>
            <h3>
                Un poco m&aacute;s...
            </h3>
            <p>
                Me apasiona enfrentar retos y encontrar soluciones innovadoras que optimicen los procesos y mejoren la experiencia del usuario. Soy un firme creyente
                en el aprendizaje continuo y disfruto explorar nuevas tecnologías para seguir creciendo como desarrollador.
                Soy una persona proactiva, autodidacta, comprometido con el aprendizaje, con experiencia técnica en diversas tecnologías y con una gran capacidad
                de adaptación. Mi objetivo es siempre entregar soluciones de calidad, eficientes y escalables, manteniendo un enfoque en las mejores prácticas de
                desarrollo. Mi capacidad para trabajar tanto de forma independiente como en equipo me permite abordar proyectos de diferentes dimensiones y complejidad.
            </p>
        </div>
    </div>
</div>